---
interface Props {
  subIndex: string;
  subTitle: string;
  description: string;
}

const { subIndex, subTitle, description } = Astro.props;
---

<div class="flex justify-center items-baseline gap-4 max-w-[300px]">
  <span class="font-semibold text-gray-400">{subIndex}</span>
  <div>
    <span class="text-lg font-semibold">{subTitle}</span>
    <p class="text-sm">{description}</p>
  </div>
</div>
